.userHomepg{
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.displayDetails{
    height: 420px;
}

.btn{
    margin: 5px;
}